* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.4;
  color: #000;
  background: #fff;
  height: 100vh;
  font-weight: 400;
}

/* ==========================
Sidebar navigation
======================== */
.navbar {
  position: relative;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
}

.navbar .toggle {
  position: fixed;
  left: 30px;
  top: 30px;
}

.menu-nav {
  list-style: none;
  position: absolute;
  background: #fff;
  left: 30px;
  top: 70px;
  width: 0;
  padding: 10px;
  overflow: hidden;
  max-width: 180px;
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
}

.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0);
}

.menu-nav li,
.menu-nav li span {
  display: block;
  padding: 0.8rem;
}

.wrapper {
  width: 100%;
  padding: 8rem 20px 3rem;
}

.todos {
  max-width: 580px;
  margin: 0 auto;
}
